@page
@model ACMEProject.Pages.Views.AddEmployeeModel

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>Create New Employee</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.Person.FirstName" class="control-label">First Name: </label>
                <input asp-for="Employee.Person.FirstName" class="form-control" />
                <span asp-validation-for="Employee.Person.FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Person.LastName" class="control-label">Last Name: </label>
                <input asp-for="Employee.Person.LastName" class="form-control" />
                <span asp-validation-for="Employee.Person.LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Person.BirthDate" class="control-label">Birthday: </label>
                <input asp-for="Employee.Person.BirthDate" class="form-control" />
                <span asp-validation-for="Employee.Person.BirthDate"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployeeNum" class="control-label">Employee Number: </label>
                <input asp-for="Employee.EmployeeNum" class="form-control" />
                <span asp-validation-for="Employee.EmployeeNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmployedDate" class="control-label">Date Employed: </label>
                <input asp-for="Employee.EmployedDate" class="form-control" />
                <span asp-validation-for="Employee.EmployedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Terminated" class="control-label">Date Terminated: </label>
                <input asp-for="Employee.Terminated" class="form-control" />
                <span asp-validation-for="Employee.Terminated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Employee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
