@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Microsoft App Factory!</h1>
    <p>I can't wait to begin!</p>
</div>